{% extends 'homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <p class="lead" style="text-align:center;">Welcome to Covid Vaccine Management System.</p>
  <hr class="my-4">
  <p style="text-align:center;">Please Login/SignUp to access various features.</p>
  <p class="lead"style="text-align:center;">
    <a class="btn btn-danger btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-danger btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
