<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
   {% comment %} footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;
      postion:fixed
    }  {% endcomment %}

  </style>
</head>




  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <footer class="text-center text-light bg-dark postion-fixed fixed-bottom py-2"> Copyright &copy; 2023 Mihir Rana | All rights reserved </footer>
         </div>
      </div>
    </div>
  </div>



</html>
